.body {
  text-align: center;

}

.grid {
  display: grid;
  grid-template-rows : 33% 33% 33%
}

.input{
  grid-column-start: 2;

}
button{
  grid-column-start: 2;
  box-shadow:inset 0px 0px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #cee5d0 5%, #7d5d3b 100%);
	background-color:#cee5d0;
	border-radius:6px;
	border:2px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:1px 2px 3px #a07877;
  margin:5px;
  
}